In [1]:
import pandas as pd
import joblib
import warnings
warnings.filterwarnings('ignore')
# from Automan.plugins.risk_trend_plot import plt_multi_rsk_trend
from sklearn.model_selection import train_test_split

In [2]:
# label_update = pd.read_csv('dq_label_update.csv')
# inputx_online_update = pd.read_csv('dq_inputx_online_update.csv')

In [3]:
# inputx_online_update.drop(columns=['create_datetime'],inplace=True)

In [4]:
# zixin_all = pd.read_csv('dq_zx_all.csv')

In [5]:
# df_tmp1_update = pd.merge(label_update,inputx_online_update,how='left',on='cust_no')

In [6]:
# df_tmp3_update = pd.merge(df_tmp1_update,zixin_all,how='left',on='cust_no')

In [7]:
# df_tmp4_update = df_tmp3_update[df_tmp3_update.fpd4!=-1].reset_index(drop=True)
# df_tmp5_update = df_tmp4_update[df_tmp4_update.mob3_k11!=-1].reset_index(drop=True)

In [8]:
# oot_202208_update = df_tmp4_update[(df_tmp4_update.create_datetime>='2022-08-01')&(df_tmp4_update.create_datetime<='2022-08-31')].reset_index(drop=True)

In [9]:
# df_tmp5_update = df_tmp5_update.append(oot_202208_update).reset_index(drop=True)

In [10]:
# # 包括所有资信
# feat_li = list(set(list(df_tmp5_update)) - set(['cust_no','create_datetime','month','fpd4','mob3_k4','mob3_k11']))

In [11]:
# # 区分数值型变量和非数值型

# float_feats = list()

# for f in feat_li:
#     if df_tmp5_update[f].dtype == 'float64':
#         float_feats.append(f)

In [12]:
# for f in float_feats:
#     df_tmp5_update[f].fillna(-99,inplace=True)

In [13]:
# df_tmp6 = df_tmp5_update[float_feats + ['cust_no','create_datetime','fpd4','mob3_k4','mob3_k11']]

In [14]:
# df_tmp6['month'] = df_tmp6.create_datetime.apply(lambda x:x[:4]+x[5:7])

In [15]:
df_tmp6 = pd.read_csv('df_tmp6.csv')

In [16]:
train_val_df = df_tmp6[df_tmp6.create_datetime<='2022-04-30'].reset_index(drop=True)
oot_df = df_tmp6[df_tmp6.create_datetime>='2022-05-01'].reset_index(drop=True)

In [17]:
feats_use = ['pic_zm_score',
 'pic_zm_upload_source',
 'bqs_qly_feature18',
 'bqs_qly_feature35',
 'bqs_qly_feature13',
 'idcard_district',
 'upa_max_score',
 'upa_total_deal_amt_low_limit_12m',
 'upa_recent_deal_date_12m',
 'upa_earliest_deal_date_from_201101',
 'upa_deal_amt_ecpt_wholesale_6m',
 'upa_min_deal_amt_12m',
 'upa_consume_amt_bt_9_to_18_3m',
 'upa_deal_amt_ecpt_wholesale_12m',
 'upa_max_consume_amt_6m',
 'upa_consume_amt_bt_9_to_18_12m',
 'upa_deal_amt_in_work_day_and_hours_3m',
 'pre_loan_install',
 'pre_loan_amount',
 'cl_br_sd_scorecust_gl_m1_min_group_num',
 'cl_br_sd_scorecust_gl_m1_max_group_num',
 'mobile_6m_cnt',
 'telephone_bj_1m_sum',
 'ope_weehours_calls_rate',
 'ope_hifreq_object_calls',
 'ope_midnight_calls_rate',
 'Y_rotation_angle',
 'Z_rotation_angle',
 'X_rotation_angle',
 'ads_contact_in_call_cnt',
 'ads_contact_in_call_pt',
 'ads_mp_contact_in_call_pt',
 'ads_mp_call_in_contact_pt',
 'bda_best_cust_flag',
 'bda_applist_cnt',
 'upa_rencent_fund_shortage_date_12m',
 'upa_rencent_faied_deal_date_12m',
 'cl_br_sd_scorecust_gl_m12_min_group_num',
 'cl_br_sd_scorecust_gl_m12_max_group_num',
 'bwjk_gxwl_level',
 'name_all_letter',
 'name_len_bgthan_3',
 'name_contain_bracket_ratio',
 'name_contain_jie',
 'mob_netflow',
 'name_contain_laopo_ratio',
 'relation_type_3_0_ratio',
 'upa_failed_deal_cnt_6m',
 'upa_other_service_cnt_12m',
 'callb_fraud_level_jdn',
 'callb_credit_level_jdn',
 'cs_gy_hcf',
 'mob_contain_4_ratio',
 'name_contain_shifu',
 'mob_dianxin_ratio',
 'name_contain_normstr_ratio',
 'n1txl_p08jiaoc047cf8',
 'mob_netflow_ratio',
 'mob_total_3_ratio',
 'name_most_dup',
 'mob_first7_most_dup_ratio',
 'name_contain_yifu_ratio',
 'n1txl_p08jiaoc027cf2',
 'name_contain_ma_ratio',
 'mob_total_8_ratio',
 'name_contain_gongsi_ratio',
 'name_contain_ba_ratio',
 'mob_liantong',
 'name_contain_yi_ratio',
 'name_contain_laogong_ratio',
 'name_contain_jiu_ratio',
 'mob_contain_9_ratio',
 'name_contain_jie_ratio',
 'n1txl_p08jiaoc017cfy',
 'name_contain_ge_ratio',
 'mob_contain_7_ratio',
 'mob_virt_ope_ratio',
 'name_contain_shifu_ratio',
 'mob_total_1_ratio',
 'name_contain_ge',
 'name_contain_zhuren_ratio',
 'n1txl_p08jiaoc002cf2',
 'name_begnwith_da_ratio',
 'name_contain_laoban_ratio',
 'mob_contain_2_ratio',
 'mob_total_2_ratio',
 'name_dup_2',
 'name_contain_baba_ratio',
 'relation_city_ratio',
 'name_contain_laoshi_ratio',
 'relation_mob_city_same_ratio',
 'ads_CtactFamilyName_rank1_2_rate',
 'ads_CtactFamilyName_rank1_rate',
 'immediate_relation_cnt',
 'ab_mobile_ratio',
 'ab_local_ratio',
 'ab_local_cnt',
 'cs_br_dzf2',
 'nopboc_model_msg',
 'selffill_degree',
 'cs_hnsk_bzf',
 'new_reflecting_back_id_score',
 'new_reflecting_front_id_score',
 'birth_year',
 'area_risk_level',
 'cust_birth_date',
 'selffill_marital_status',
 'app_sum_cnt',
 'cust_id_area',
 'cust_work_city']

In [18]:
train_val_x = train_val_df[feats_use + ['month']]
train_val_y = train_val_df[['cust_no','mob3_k11','mob3_k4','fpd4']]

In [19]:
oot_x = oot_df[feats_use + ['month']]
oot_y = oot_df[['cust_no','mob3_k11','fpd4']]

In [20]:
train_x,val_x,train_y,val_y = train_test_split(train_val_x,train_val_y,test_size=0.2,stratify=train_val_y['mob3_k11'],random_state=168)

In [21]:
train_x.replace([-99,-999,-9999,-9999997],-99,inplace=True)
val_x.replace([-99,-999,-9999,-9999997],-99,inplace=True)
oot_x.replace([-99,-999,-9999,-9999997],-99,inplace=True)

In [22]:
train_x = train_x.reset_index(drop=True)
val_x = val_x.reset_index(drop=True)

In [23]:
train_y = train_y.reset_index(drop=True)
val_y = val_y.reset_index(drop=True)

In [24]:
train_x_y = pd.concat([train_x,train_y],axis=1)
val_x_y = pd.concat([val_x,val_y],axis=1)
oot_x_y = pd.concat([oot_x,oot_y],axis=1)

### 开始构造虚假人造样本

In [25]:
from main import Let_us_fake

In [26]:
train_x_y_tmp = train_x_y.copy()
train_x_y_tmp.drop(columns=['month','cust_no','mob3_k4','fpd4'],inplace=True)

In [27]:
mixed_columns = {}
for f in list(train_x_y_tmp)[:-1]:
    if -99 in train_x_y_tmp[f].values:
        mixed_columns[f] = [-99]

In [28]:
train_x_y_tmp.to_csv('real_data.csv',index=False)

In [29]:
faker_object = Let_us_fake(data_path='real_data.csv',
                           test_ratio=0.2,
                           categorical_columns=[],
                           log_columns=[],
                           mixed_columns=mixed_columns,
                           integer_columns=[],
                           problem_type={'classification':'mob3_k11'},
                           epochs=1,
                           use_nn_mode='mlp')

In [30]:
faker_object.fit()

data preparation done.
start training...

100%|██████████| 1/1 [00:56<00:00, 56.03s/it]

finish training in 167.67911291122437 seconds.

In [31]:
sample_df = faker_object.generate_samples()

In [32]:
sample_df

,pic_zm_score,pic_zm_upload_source,bqs_qly_feature18,bqs_qly_feature35,bqs_qly_feature13,idcard_district,upa_max_score,upa_total_deal_amt_low_limit_12m,upa_recent_deal_date_12m,upa_earliest_deal_date_from_201101,...,new_reflecting_back_id_score,new_reflecting_front_id_score,birth_year,area_risk_level,cust_birth_date,selffill_marital_status,app_sum_cnt,cust_id_area,cust_work_city,mob3_k11
0,649.529602,1.023332,77.890572,-99.000000,94.191338,-99.000000,1120.854248,1757.929321,-99.0,20172866.0,...,0.046210,0.194532,1990.743530,5.028632,20001196.0,10.261373,1.615995,-99.000000,434646.87500,0.998174
1,13.372711,0.006419,77.890572,34.438271,0.020386,352861.437500,433.907379,-99.000000,20220190.0,-99.0,...,0.119064,0.000600,-99.000000,-99.000000,20001196.0,-99.000000,-99.000000,337147.687500,517526.37500,0.004703
2,649.529602,1.998961,50.783779,152.895920,117.088524,-99.000000,-99.000000,136.869064,20210304.0,20147520.0,...,0.165354,0.320288,1986.499390,1.001862,19943988.0,-99.000000,95.994987,174446.796875,340696.93750,0.005353
3,782.792664,6.701293,49.516159,-99.000000,148.279556,136891.890625,452.298218,136.869064,20211936.0,20160690.0,...,0.165354,0.048017,1986.966675,1.001862,19865382.0,10.100084,125.496368,174446.796875,528425.68750,0.005540
4,719.019531,9.036295,43.193180,34.438271,144.475189,-99.000000,954.615601,129221.062500,-99.0,20191162.0,...,0.144210,1.088746,1980.323853,2.000281,19865382.0,-99.000000,59.550976,-99.000000,529615.00000,0.000001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25067,778.721924,8.801812,93.257477,12.240555,212.619308,220742.750000,1093.406860,42462.394531,20210304.0,20147520.0,...,0.000098,0.481923,1986.499390,-99.000000,19803590.0,20.211378,95.994987,518534.906250,679071.31250,0.004609
25068,822.995422,-99.000000,4.916418,133.373169,0.020386,235117.031250,1077.133057,136.869064,20201552.0,20126924.0,...,0.000098,0.000600,1990.743530,3.000099,20006250.0,20.000025,79.703415,347587.562500,517526.37500,0.000001
25069,-99.000000,6.701293,28.626896,34.438271,93.881157,385969.875000,17.795801,13568.827148,20201970.0,20165048.0,...,0.451267,0.000600,2001.983154,5.668879,19908498.0,10.145747,95.994987,432593.250000,448558.59375,0.998174
25070,-0.805883,8.606735,201.125824,1.836831,0.020386,256787.671875,-99.000000,-99.000000,-99.0,20191162.0,...,-99.000000,0.709560,-99.000000,3.000099,20001196.0,10.000411,50.322239,347587.562500,556144.12500,0.000001
25071,-99.000000,1.008971,-99.000000,140.729736,16.357677,224546.421875,1047.178467,-99.000000,-99.0,20157470.0,...,0.508511,0.061562,1996.986084,3.028612,-99.0,10.078775,226.494568,174446.796875,366704.71875,1.120335

In [33]:
train_x_y_tmp

,pic_zm_score,pic_zm_upload_source,bqs_qly_feature18,bqs_qly_feature35,bqs_qly_feature13,idcard_district,upa_max_score,upa_total_deal_amt_low_limit_12m,upa_recent_deal_date_12m,upa_earliest_deal_date_from_201101,...,new_reflecting_back_id_score,new_reflecting_front_id_score,birth_year,area_risk_level,cust_birth_date,selffill_marital_status,app_sum_cnt,cust_id_area,cust_work_city,mob3_k11
0,671.0,1.0,471.0,19.0,18.0,440233.0,9.0,0.0,20200229.0,20161205.0,...,6.261844e-06,0.000224,1997.0,2.0,19970310.0,10.0,0.0,440233.0,440111.0,0
1,-99.0,-99.0,19.0,12.0,6.0,411322.0,4.0,1100.0,20201222.0,20201210.0,...,2.344012e-06,0.000812,1991.0,5.0,19910512.0,10.0,47.0,411322.0,411322.0,0
2,-99.0,-99.0,49.0,23.0,84.0,410221.0,589.0,5621.0,20210518.0,20190617.0,...,7.856895e-04,0.004000,1988.0,5.0,19880105.0,20.0,37.0,410221.0,110100.0,0
3,648.0,1.0,492.0,19.0,36.0,340621.0,-99.0,-99.0,-99.0,-99.0,...,9.187862e-06,0.000819,1989.0,5.0,19890910.0,10.0,46.0,340621.0,340121.0,0
4,-99.0,-99.0,80.0,37.0,53.0,412827.0,-99.0,-99.0,-99.0,-99.0,...,3.221947e-09,0.001071,2000.0,5.0,20000802.0,10.0,39.0,412827.0,320206.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25067,-99.0,-99.0,-99.0,-99.0,-99.0,370725.0,-99.0,-99.0,-99.0,-99.0,...,4.820533e-05,0.000080,1996.0,5.0,19960702.0,10.0,14.0,370725.0,370702.0,0
25068,-99.0,-99.0,471.0,21.0,17.0,430703.0,705.0,3500.0,20211130.0,20180505.0,...,8.093910e-04,0.041124,1998.0,3.0,19980121.0,20.0,0.0,430703.0,430921.0,0
25069,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,4.0,606.0,20200630.0,20160318.0,...,3.611336e-04,0.000040,1991.0,4.0,19911113.0,10.0,38.0,500381.0,500100.0,0
25070,-99.0,-99.0,79.0,24.0,85.0,350781.0,705.0,4631.0,20210410.0,20160525.0,...,8.340630e-09,0.000002,1991.0,2.0,19911031.0,20.0,0.0,350781.0,350781.0,0
25071,640.0,1.0,-99.0,-99.0,-99.0,-99.0,996.0,10708.0,20210225.0,20160511.0,...,1.740005e-08,0.001464,1989.0,2.0,19891025.0,20.0,0.0,460004.0,460107.0,0